$padding: 15px;
$col1: 8.33%;
$col2: 16.66%;
$col3: 25%;
$col4: 33.33%;
$col5: 41.66%;
$col6: 50%;
$col7: 58.33%;
$col8: 66.66%;
$col9: 75%;
$col10: 83.33%;
$col11: 91.66%;
$col12: 100%;
$color1: rgb(17, 44, 74);
$color2: rgb(252, 172, 25);
* {
    box-sizing: border-box;
  }

  .fa-fw{
    padding-right: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: $padding;
  }

  html {
    font-family: "Lucida Sans", sans-serif;
    height: 100%;
  }

  body{
    padding: 0px;
    margin: 0px;
    height: 100%;
    overflow-x: hidden;
  }
  
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  @media only screen and (min-width: 640px) {
    
    /* For tablets: */
    .col-s-1 {width: $col1;}
    .col-s-2 {width: $col2;}
    .col-s-3 {width: $col3;}
    .col-s-4 {width: $col4;}
    .col-s-5 {width: $col5;}
    .col-s-6 {width: $col6;}
    .col-s-7 {width: $col7;}
    .col-s-8 {width: $col8;}
    .col-s-9 {width: $col9;}
    .col-s-10 {width: $col10;}
    .col-s-11 {width: $col11;}
    .col-s-12 {width: $col12;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: $col1;}
    .col-2 {width: $col2;}
    .col-3 {width: $col3;}
    .col-4 {width: $col4;}
    .col-5 {width: $col5;}
    .col-6 {width: $col6;}
    .col-7 {width: $col7;}
    .col-8 {width: $col8;}
    .col-9 {width: $col9;}
    .col-10 {width: $col10;}
    .col-11 {width: $col11;}
    .col-12 {width: $col12;}
  }
  
  /* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: $color1; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  
  /* The navigation menu links */
  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 17px;
    color: rgba(#ffffff,  0.8);
    display: block;
    transition: 0.3s
  }

  /* When you mouse over the navigation links, change their color */
  a:hover, .offcanvas a:focus{
    color: $color2;
  }
  
  /* Position and style the close button (top right corner) */
  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
  overflow:hidden;
  width:100%;
}
 

/* Add a black background color to the top navigation */
.topnav {
  background-color: $color1;
  overflow: hidden;
  /* Style the links inside the navigation bar */
  a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  /* Change the color of links on hover */
  a:hover {
    background-color: $color2;
    color: black;
  }
  /* Add a color to the active/current link */
  a.active {
    background-color: #4CAF50;
    color: white;
  }
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {font-size: 18px;}
}

a svg{
  transition:all .5s ease;
  &:hover{
    transform:rotate(180deg);
  }
}

#ico{
  display: none;
}

.menu{
  background: #000;
  display: none;
  padding: 5px;
  width: 320px;
  border-radius:5px;

  transition: all 0.5s ease;

  a{
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px 2px;
    margin: 3px 0;
    text-decoration: none;
    background: #444;

    &:nth-child(1){
      margin-top: 0;
      border-radius:3px 3px 0 0;
    }
    &:nth-child(5){
      margin-bottom: 0;
      border-radius:0 0 3px 3px;
    }

    &:hover{
      background: #555;
    }
  }
}