<div class="row">
    <div class="col-12">
        <!-- Content -->
        <div class="middle-content">
            <div class="row">
                <div class="col-12 col-s-12">
                    <center>
                        <h2>Select Menu</h2>
                    </center>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <a href="/two-sums">
                        <div class="card text-center">
                            TWO SUMS
                        </div>
                    </a>
                </div>
                <div class="col-6 col-s-12">
                    <a href="/login">
                        <div class="card text-center">
                            BUDGET APPLICATION
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>