<div class="container">
    <div class="form-login">
        <center>
            <h3>Sign In</h3>
        </center>
        <form method="post" action="/login">
            <center>
                <input type="text" placeholder="Username" name="username"><br>
                <input type="password" name="password" placeholder="password">
                <button>Sign in</button>
            </center>
        </form>
    </div>
    <div class="form-footer">
        Don't have an account? <a href="/register">Sign Up</a>
    </div>
    
</div>
<% if(msg.length !== 0){ %>
    <script>
        setTimeout(function(){
            swal({
            icon: 'warning',
            title: '<%=msg%>',
            text: '<%=msg%>',
            closeOnClickOutside: false,
            buttons: false,
            timer: 2000
            }).then((value) =>{
                location='/login';
            });
        });
    </script>
<% } %>
