<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="css/style-twosums.css">
</head>
<body>
    <!-- navigasi -->
    <nav>
        <ul>
            <li><a class="active" href="/"><i class="fas fa-arrow-left"></i> Home</a></li>
            <li style="float:right"><a href="/login">Budget App <i class="fas fa-arrow-right"></i></a></li>
        </ul>
    </nav>
    <%- body %>    
</body>
    <script src="js/fontawesome.js" crossorigin="anonymous"></script>
</html>